/* box model */
*, *:before, *:after {
    box-sizing: border-box;
}

/* společné nastavení */
body {
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-family: 'Courier New', serif;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Courier New', cursive;
    color: #2F4F4F;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    text-align: center;
}
/*obrázek profilovky*/
.profil {
    float: right;
    margin: 0 0 60px 30px;
    width: 30%;
    max-width: 200px;
    height: auto;
    border: 2px solid white;
    border-radius: 50%;
}

/* sekce a třídy */
.sekce {
    padding: 20px 0;
}

.obsah {
    margin: 0 auto;
    padding: 20px;
    max-width: 960px;
}

.omne {
    background: lightpink;
    text-align: justify;
}

.zivotopis {
    background: lightblue;
}

.socky {
    background: lightgoldenrodyellow;
}

.odkazy {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* paticka */
footer {
    padding: 20px 0;
    text-align: center;
    color: #2F4F4F;
    font-family: 'Courier New', cursive;
}